[submodule "Session04/Session04/KIPAC-StatisticalMethods"]
	path = Sessions/Session04/KIPAC-StatisticalMethods/
	url = https://github.com/KIPAC/StatisticalMethods.git
	branch = dsfp_sep17
[submodule "Sessions/Session04/KIPAC-StatisticalMethods"]
	path = Sessions/Session04/KIPAC-StatisticalMethods
	url = https://github.com/KIPAC/StatisticalMethods.git
	branch = dsfp_sep17
